/* 공통 class */
.disb {
    display:block !important;
}
.disn {
    display:none !important;
}

svg {
	z-index:1;
}
#header {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:0;
    z-index:10;
    h1 {
        position:fixed;
        top:40px;
        left:50px;
        a {
            color:$col_wh;
            font-size:1.333em;
            font-weight:600;
        }
    }
    nav {
        position:fixed;
        top:50%;
        right:30px;
        transform:translateY(-50%);
        a {
            display:block;
            padding:20px 0;
            color:$col_wh;
            font-size:1.2em;
        }
    }
}
#container {position:relative;}
.content {position:relative;}