@charset "UTF-8";

$col_wh : #ffffff;
$col_33 : #333333;
$col_66 : #666666;
$col_ht : #f26a2d;
$col_cs : #32aadb;
$col_js : #f1c023;
$col_jq : #0d66a5;

@import "reset";
@import "common";
@import "ui";